body, html { margin: 0; padding: 0; }

a:link, a:visited, a:hover, a:active { color: inherit; text-decoration: none; }

span.unbold {
    font-weight: normal;
}

body {
    background-color: #eee;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

main {
    height: 100vh;
    margin: 0 auto;
    width: 1168px;
}

.header h1 {
    margin: 64px 64px 0;
}

.project {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    min-height: 380px;
    margin: 50px;
    /*overflow: hidden;*/
    transition: 0.2s ease-in-out transform;
    width: 480px;
    vertical-align: top;
}

.project:hover {
    transform: scale(1.1);
}

.project > a, .project > span.no-link {
    display: block;
    height: calc(100% - 40px);
    padding: 20px;
    width: calc(100% - 40px);
}

.project > a > div, .project > span.no-link > div {
    margin: 0 10px 10px;
}

.project label {
    color: #666;
    font-size: 0.8em;
    font-variant-caps: all-small-caps;
    font-weight: bold;
    margin: 10px 10px 0;
}

.project .display {
    background-color: #eee;
    border-radius: 5px;
    height: calc(100% - 100px);
    width: calc(100% - 20px);
}

.project .title {
    font-family: Baskerville, "Times New Roman", serif;
    font-size: 2em;
}

.project .description {
    height: 60px;
}

.project .stack-item {
    display: inline-block;
    height: 64px;
    margin: 10px;
}

.project .stack-item img, .project .stack-item span {
    vertical-align: bottom;
}

.project .stack-item img {
    height: 100%;
}

.project .stack-item span {
    background-color: #333;
    border-radius: 5px;
    color: #eee;
    font-size: 3em;
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.hover-text-parent .hover-text {
    background-color: #666;
    border-radius: 5px;
    color: #fff;
    display: none;
    max-width: 180px;
    padding: 10px;
    position: absolute;
    transform: translate(-32px, 72px);
    z-index: 10;
}

.hover-text-parent:hover .hover-text {
    display: inline-block;
}

@media (min-width: 584px) and (max-width: 1168px) {
    main {
        width: 584px;
    }
}

@media (max-width: 584px) {
    main {
        width: 100vw;
    }

    .project {
        height: auto;
        width: calc(100vw - 100px);
    }

    .project:hover {
        transform: scale(1);
    }

    .project .description {
        height: auto;
        overflow-y: hidden;
    }
}
